/* いいね押下時の星の色 */
.liked {
    color: orangered;
    transition: 0.2s;
}
.flexbox {
    align-items: center;
    display: flex;
}
.count-num {
    font-size: 20px;
    margin-left: 10px;
}
.fa-heart {
    font-size: 30px;
}
.fa-comment {
    font-size: 30px;
    
}
.user-item {
    display: flex; /* 横並びにする */
    align-items: center; /* アイコンとテキストを縦方向で中央揃えに */
    justify-content: flex-start; /* アイテムを左寄せに */
    margin-bottom: 20px; /* 各ユーザーの間に余白を追加 */
}

.user-icon {
    border-radius: 50%; /* 丸いアイコンにする */
    object-fit: cover; /* アイコンが枠内に収まるように */
    width: 50px; /* アイコンの幅 */
    height: 50px; /* アイコンの高さ */
    margin-right: 15px; /* アイコンとテキストの間に余白を追加 */
}

.user-details {
    display: flex; /* 横並びにする */
    align-items: center; /* 中央揃えにする */
}

.user-details p {
    margin-left: 15px; /* 各テキストに余白を追加 */
}

